body {
    font-size: 16px;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: var(--leading-md);
    background: var(--color-white);
    color: var(--color-black);
    letter-spacing: var(--tracking-md);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: var(--tracking-sm);
}

h1 {
    font-weight: 800;
    font-size: var(--title-xl);
}

h2 {
    font-size: var(--title-lg);
}

h3 {
    margin-bottom: var(--space-xs);
    letter-spacing: var(--tracking-md);
    font-size: var(--title-sm);
}

p {
    margin: 0;
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
}

a {
    display: inline-block;
    color: inherit;
    transition: 0.24s color ease-out;

    &:hover {
        color: var(--color-red);
    }
}

hr {
    border: 0;
    height: 1px;
    background: var(--color-gray-80);
}

blockquote {
    margin-left: 0;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
    padding-left: var(--space-md);
    font-style: italic;
    border-left: 4px solid var(--color-black);
    color: var(--color-gray-40);
}

.container {
    margin: 0 auto;
    max-width: 40em;
}

.wrapper {
    padding: 0 1.25rem;
}

.post-data {
    color: var(--color-gray-30);

    * {
        display: inline-block;
    }
}
