// Variables. Mobile first approach

:root {
    // Neutral colors
    --color-black: hsl(0, 10%, 10%);
    --color-white: hsl(0, 5%, 96%);

    // Grayscale colors
    --color-gray-80: hsla(0, 10%, 96%, 0.8);
    --color-gray-50: hsla(0, 10%, 96%, 0.5);
    --color-gray-40: hsla(0, 10%, 96%, 0.4);

    --color-primary: var(--color-black);
    --color-secondary: var(--color-white);

    // [theme="light"]  
    // --color-primary: var(--color-white);
    // --color-secondary: var(--color-black);
    // --color-gray-80: hsla(0, 10%, 10%, 0.8);
    // --color-gray-50: hsla(0, 10%, 10%, 0.5);
    // --color-gray-40: hsla(0, 10%, 10%, 0.4);

    // Fonts
    --font-sans: Inter, -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
        Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    --font-accident: 'Work Sans', 'PT Sans', 'Open Sans', sans-serif;
    --font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;

    // Header sizes mobile
    --title-h1: 2.75em;
    --title-h2: 2.5em; //46
    --title-h3: 2em; // 32px 
    --title-h4: 1.75em; //18

    // Text sizes
    --text-xs: 0.875em; //14px
    --text-sm: 1em; // 16px
    --text-md: 1.0625rem; //17px
    --text-lg: 1.25em; //20px

    // Line heights
    --leading-sm: 1.1em;
    --leading-md: 1.25em;
    --leading-lg: 1.5em;

    // Spaces
    --space-xs: 0.5rem; // 8px
    --space-sm: 0.75rem; //12px
    --space-md: 1rem; // 16px
    --space-lg: 1.5rem; //32px
    --space-xl: 3rem; //48px

    // Letter spacing
    --tracking-xs: -0.038em;
    --tracking-sm: -0.02em;
    --tracking-md: -0.006em;
}

@media screen and (min-width: 48em) {
    :root {
        --title-h1: 5.25em;
        --title-h2: 4em; //64
        --title-h3: 3em; // 48
        --title-h4: 1.5em; // 24

        --text-lg: 1.5em; //24px
    }
}
